body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.hero-container {
  height: 80vh;
}

.hero-container {
  background-image: url("https://images.pexels.com/photos/2518862/pexels-photo-2518862.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

