
:root {
  --title-font: 'Roboto', sans-serif;
  --text-font-family: 'Lato', sans-serif;
  --main-color: #bdd9bf;
  --font-white: #f0f8ff;
  --purple-color: #8d86c9;
  --gray-color: #2e4052;
  --blue-color:#a997df;
  --red-color:#e5323b;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--text-font-family);
}

main {
  flex: 1;
}

.nav-item {
  font-family: var(--title-font);
}

.navbar-light {
  background-color: var(--main-color);
}

.btn-text-white {
  color: var(--font-white);
}

.btn-outline-primary {
  color: var(--gray-color);
  border-color: var(--gray-color);
}

.btn-light {
  color: var(--gray-color);
}

.btn-regiter {
  background-color: var(--red-color);
  color: var(--font-white);
}

.btn-login {
  background-color: var(--blue-color);
  color: var(--font-white);
}

footer{
  background-color: var(--main-color);
}

.hero-container {
  height: 80vh;
  background-image: url("/static/images/dog_in_field.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
}

.hero-text {
  color: var(--font-white);
  font-size: 2rem;
  background-color: rgb(46, 64, 82, 0.3);
  max-width: 100%;
  width: fit-content;
}

.btn-like {
  color: #E84610;
  border: none;
  background: transparent;
}

.about {
  margin-top: -3rem;
  flex-wrap: nowrap;
}


.create-label {
  display: block;
  margin-bottom: 0.2rem;
}

.create-btn {
  width: 100%;
}

label {
  display: block;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.brand {
  color: var(--gray-color);
  font-weight: bolder;
  font-size: larger;
}

.faded {
  color: var(--purple-color);
}