body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1;
}


.hero-container {
  height: 80vh;
  background-image: url("/static/images/dog_in_field.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.hero-text {
  color: antiquewhite;
  font-size: 2rem;
}

.btn-like {
  color: #E84610;
  border: none;
  background: transparent;
}

.image-container {
  max-height: 350px;
  overflow: hidden;
}