{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
    <main>
        <div class="container col-12 col-md-8 offset-md-2">
            <h1 class="text-center mt-3">About this site</h1>
            <h4>This site is intended to provide a safe space for sharing information on dog friendly nature trails in
                Ireland.</h4>
            <p>Guest visitors to the site can view the post summary list without register and log-in</p>
            <p>Registerd and logged-in users can:</p>
            <ul>
                <li></li>
                
            </ul>


        </div>
    </main>
</section>


{% endblock %}