{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row hero-container">
        <div class="hero-text align-middle ms-5">
            <h2>Find your ideal nature trail</h2>
            <p>with man's best friend</p>
        </div>
    </div>
</div>
<section>
<h1 class="text-center mt-3">Dog friendly nature trails in Ireland</h1>

<div class="text-center">
<p>This site is created to share the information about dog friendly nature walks</p>


<a class="btn btn-success btn-lg bg-gradient mb-5" href="{% url 'posts' %}" role="button">Posts on Trails</a>
</div>
</section>

{%endblock%}