{% extends "base.html" %}
{% load static %}

{% block content %}

<section>
        <div class="ms-3">
                {% if create_post_form.errors %}
                <div class="text-center mt-5" role="alert">
                        {% for key, value in create_post_form.errors.items %}
                        <span class="alert-secondary">{{key}}: {{value.as_text}}</span>
                        {% endfor %}
                </div>
                {% endif %}
        

                <h2 class="text-center mt-5">Create a Post</h2>
                <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <div class="create-post ">
                                <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <p class="create-label">{{ create_post_form.title.label }} : <p
                                                        class="create-titile">{{ create_post_form.title }}</p>
                                        </p>
                                        <p class="create-label">{{ create_post_form.location.label }} : <p
                                                        class="create-titile">{{ create_post_form.location }}</p>
                                        </p>
                                        <p class="create-label">{{ create_post_form.excerpt.label }} : <p
                                                        class="create-titile">{{ create_post_form.excerpt }}</p>
                                        </p>
                                        <p class="create-label">{{ create_post_form.content.label }} : <p
                                                        class="create-titile">{{ create_post_form.content }}</p>
                                        </p>
                                        <p class="create-label">{{ create_post_form.featured_image.label }} :
                                                <p
                                                        class="create-titile">{{ create_post_form.featured_image }}</p>
                                        </p>
                                        <div class="mb-1">
                                                <p class="create-label">Difficulty of the trail</p>
                                                <span class="ms-3">{{ create_post_form.difficulty_hard.label }} : </span>
                                                <span>{{ create_post_form.difficulty_hard }}</span>
                                                <span class="ms-3">{{ create_post_form.difficulty_moderate.label }} : </span>
                                                <span>{{ create_post_form.difficulty_moderate }}</span>
                                                <span class="ms-3">{{ create_post_form.difficulty_easy.label }}: </span>
                                                <span>{{ create_post_form.difficulty_easy }}</span>
                                        </div>
                                        <div class="mb-1">
                                                <p class="create-label">Suitable Dog size</p>
                                                <span class="ms-3">{{ create_post_form.breed_big.label }} : </span>
                                                <span>{{ create_post_form.breed_big }}</span>
                                                <span class="ms-3">{{ create_post_form.breed_mid.label }} : </span>
                                                <span>{{ create_post_form.breed_mid }}</span>
                                                <span class="ms-3">{{ create_post_form.breed_sml.label }} : </span>
                                                <span>{{ create_post_form.breed_sml }}</span>
                                        </div>

                                        <input type="submit" value="Create" class="btn btn-success bg-gradient mb-5 mt-3 create-btn">
                                </form>
                        </div>
                </div>
        </div>
       
</section>

{% endblock %}