{% extends "base.html" %}
{% load static %}

{% block content %}

<section>

        <div class="alert alert-secondary alert-dismissible" role="alert">

                <ul class="messages">
                        {% if edit_post_form.errors %}
                        {% for key, value in edit_post_form.errors.items %}
                        <li class="{{ message.tags }} d-inline me-3">{{key | title }}: {{value.as_text}}</li>
                        {% endfor %}
                        {% endif %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>
        <div class="ms-2 me-2">

                <h2 class="text-center mt-5">Edit your Post</h2>
                <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <p class="text-center">Required field is marked with <span class="text-danger">*</span></p>
                        <div class="create-post ">
                                <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <p class="create-label">{{ edit_post_form.title.label }}<span
                                                        class="text-danger">*</span> : </p>
                                        <p class="create-titile">{{ edit_post_form.title }}</p>

                                        <p class="create-label">{{ edit_post_form.location.label }}<span
                                                        class="text-danger">*</span> : </p>
                                        <p class="create-titile">{{ edit_post_form.location }}</p>

                                        <p class="create-label">{{ edit_post_form.excerpt.label }} : </p>
                                        <p class="create-titile">{{ edit_post_form.excerpt }}</p>

                                        <p class="create-label">{{ edit_post_form.content.label }}<span
                                                        class="text-danger">*</span> : </p>
                                        <p class="create-titile">{{ edit_post_form.content }}</p>

                                        <p class="create-label">{{ edit_post_form.featured_image.label }} :</p>
                                        <p class="create-titile">{{ edit_post_form.featured_image }}</p>

                                        <div class="mb-1">
                                                <p class="create-label">Difficulty of the trail</p>
                                                <span class="ms-3">{{ edit_post_form.difficulty_hard.label }} : </span>
                                                <span>{{ edit_post_form.difficulty_hard }}</span>
                                                <span class="ms-3">{{ edit_post_form.difficulty_moderate.label }} :
                                                </span>
                                                <span>{{ edit_post_form.difficulty_moderate }}</span>
                                                <span class="ms-3">{{ edit_post_form.difficulty_easy.label }}: </span>
                                                <span>{{ edit_post_form.difficulty_easy }}</span>
                                        </div>
                                        <div class="mb-1">
                                                <p class="create-label">Suitable Dog size</p>
                                                <span class="ms-3">{{ edit_post_form.breed_big.label }} : </span>
                                                <span>{{ edit_post_form.breed_big }}</span>
                                                <span class="ms-3">{{ edit_post_form.breed_mid.label }} : </span>
                                                <span>{{ edit_post_form.breed_mid }}</span>
                                                <span class="ms-3">{{ edit_post_form.breed_sml.label }} : </span>
                                                <span>{{ edit_post_form.breed_sml }}</span>
                                        </div>

                                        <input type="submit" value="Update"
                                                class="btn btn-success bg-gradient mb-5 mt-3 create-btn">
                                </form>
                                <p><a class="navbar-brand ms-3" href="{% url 'post_delete' slug=slug %}">Delete this
                                                Post</a></p>
                        </div>
                </div>
        </div>

</section>

{% endblock %}