{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <main class="mt-3">
        <div class="row">
            <h1 class="text-center mb-3">View the profiles of registred users</h1>

            <!-- profile Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for profile in profile_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in profile.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/no_user_image.jpg' %}">
                                    {% else %}
                                    <img class="card-img-top" src="{{ profile.featured_image.url }}">
                                    {% endif %}
                                </div>
                                <h2 class="author">User: {{ profile.user.username }}</h2>
                                <p class="card-title">Abuot me: {{ profile.about_me }}</p>
                                <hr>
                                <p class="card-text">About my dog{{ profile.about_dog }}</p>
                                <hr>
                                <p class="card-text">My favorite place: {{ profile.favorite_location }}</p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </main>
</div>




{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>
</main>

{%endblock%}